.home .ctas {
  margin: 115px 0 15px 0;
  max-height: 500px; }
  .home .ctas .cta {
    position: relative; }
    .home .ctas .cta .banner-content {
      position: absolute;
      top: 10%;
      right: 15vw;
      z-index: 10;
      padding: 10px;
      box-sizing: border-box;
      border: 5px solid #035301;
      border-radius: 5px; }
      .home .ctas .cta .banner-content .inner {
        display: flex;
        flex-direction: column;
        color: #035301;
        background: #fff;
        width: auto;
        align-items: center;
        padding: 3vw;
        border-radius: 5px; }
        .home .ctas .cta .banner-content .inner h2 {
          font-size: 24pt;
          text-transform: capitalize;
          font-weight: bold;
          margin: 0 0 10px 0; }
        .home .ctas .cta .banner-content .inner a.btn {
          font-family: 'Fjalla One', sans-serif;
          font-size: 14pt;
          border-radius: 2px; }
          .home .ctas .cta .banner-content .inner a.btn.accent {
            text-transform: capitalize;
            background: #F4761D;
            color: #fff;
            padding: 10px 20px; }
        .home .ctas .cta .banner-content .inner p {
          text-align: center;
          line-height: 1.4; }
    .home .ctas .cta.ad1 img {
      position: relative;
      width: 100%;
      z-index: 1;
      opacity: .7; }

.home .band.green {
  min-height: 200px;
  display: block;
  padding: 20px 25px; }
  .home .band.green > h4, .home .band.green .wrapper .right, .home .band.green .wrapper .left {
    text-transform: capitalize; }
  .home .band.green .wrapper {
    display: flex;
    justify-content: space-between; }
    .home .band.green .wrapper section {
      position: relative;
      display: flex;
      z-index: 15;
      text-transform: capitalize; }
    .home .band.green .wrapper section:nth-child(1), .home .band.green .wrapper section:last-child {
      flex-direction: column; }
    .home .band.green .wrapper section:nth-child(1) {
      width: 29%;
      margin-right: 1%;
      background: #035301;
      padding: 15px 10px;
      border: 1px solid #012100; }
      .home .band.green .wrapper section:nth-child(1) a {
        color: #eaffc5;
        padding: 0 0 5px;
        margin: 5px 0;
        border-bottom: 1px dotted #eaffc5; }
        .home .band.green .wrapper section:nth-child(1) a:last-child {
          border: none; }
      .home .band.green .wrapper section:nth-child(1) > h4 {
        position: relative;
        color: #fff;
        font-weight: bold;
        font-size: 34pt;
        z-index: 15;
        margin: 0 0 15px; }
    .home .band.green .wrapper section:nth-child(2) {
      position: relative;
      z-index: 15;
      width: 40%;
      justify-content: center;
      display: flex;
      flex-direction: column; }
    .home .band.green .wrapper section:last-child {
      margin: 0;
      background: rgba(255, 255, 255, 0.9);
      padding: 15px 10px;
      color: #035301; }
      .home .band.green .wrapper section:last-child h4 {
        text-align: center;
        font-size: 12pt;
        margin-bottom: 7px; }
      .home .band.green .wrapper section:last-child .rounded-btn {
        margin-top: 0;
        font-size: 17pt;
        padding: 10px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$inner+0,1e5799+100 */
        background: #046d01;
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #046d01 0%, #035301 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #046d01 0%, #035301 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #046d01 0%, #035301 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$inner', endColorstr='$outer',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ }
      .home .band.green .wrapper section:last-child .social {
        display: flex;
        align-items: center; }
        .home .band.green .wrapper section:last-child .social a {
          font-size: 22pt;
          box-sizing: border-box;
          margin: 0 4px 0 0;
          padding: 4px;
          border-radius: 4px; }
          .home .band.green .wrapper section:last-child .social a:nth-child(1) {
            background: #035301;
            color: #fff; }
          .home .band.green .wrapper section:last-child .social a:nth-child(2), .home .band.green .wrapper section:last-child .social a:nth-child(3) {
            background: #035301;
            color: #fff; }
