extends interior_layout.pug

block main-cta
  img(src="./img/923623146-2048x2048.jpg")

block page_content
  .block
    h1 Welcome to Green Fern Tree Service
      span | A cut above the competition
    | At Green Fern Tree Services we pride ourselves on quality work, excellent project management, safety compliance and customer service. We are professional and passionate arborists with over 15 years of experience in Roswell and the surrounding area. Our expert team don’t just get the job done, they do it with a respect for the entire ecosystem and take this into account when assessing each and every job – domestic and commercial. That’s why our clients come back time and time again.
    | We provide:
    br
    br

    ul
      li Free Quotes
      li Full Insurance
      li Qualified Arborists
      li Uniformed crew
      li Residential and Commercial work
      li Honest And Drug Free Environment 
    
    br
    br

    p
      | At Green Fern Tree Service we have the ability to assess and safely undertake all aspects of tree removal. No site is
      | too difficult or complex for our highly skilled team. We have a full range of specialised equipment (including our
      | own crane) to carry out all tree removals.
      | Defects from diseased, dying or hazardous trees can be genetic, storm related or as a consequence of previous poor
      | management practices. Our qualified Arborist will advise you on the best solution for your trees.
      | All tree removals are undertaken in compliance with TREE INDUSTRY “Code of Practice” . We can also advise on any
      | council approval required for tree removals and can assist with council applications.