//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                //- .gradient-dark-radial
                img(src="./img/home1.jpg")
                .banner-content
                        .inner
                                h2 unbeatable prices
                                p See for yourself. We have the most competitive prices around. <br> If you aren't calling us out <br> for a quote you're doing yourself a disservice.

                                a.btn.accent get a quote
        
        .home-content
                .band
                        .left
                                a
                                        img(src="./img/logos/bbb_green.png")
                                a
                                        img(src="./img/logos/angies_list.png")
                                a#next-door
                                        img(src="https://d19rpgkrjeba2z.cloudfront.net/02e8edead513ba1b/static/nextdoorv2/images/icons/nextdoor-icons-house-60-73.png")
                                        | Nextdoor
                        .right
                                h2 What other people say about Green Fern Tree Service
                                .testimonials
                                        .testimonial
                                                .img
                                                        img(src="./img/testimonials/1.jpg")
                                                .quote
                                                        p They were best on pricing and completely professional, responsive, and timely.
                                                        h4.from
                                                                | &dash; Bob Ruprecht
                                        .testimonial
                                                .img
                                                        img(src="./img/testimonials/2.jpg")
                                                .quote
                                                        p They do excellent work, great crew, price is always reasonable and the owner is very conscientious. His name is Amir Osmanbasic. He lives in the area and has an interest in our community.
                                                        h4.from
                                                                | &dash; Ann Sikes
                                        .testimonial
                                                .img
                                                        img(src="./img/testimonials/3.jpg")
                                                .quote
                                                        p I second Green Fern. We have used them in 3 occasions. The crew is hard working, quick &amp; great at cleaning up and the owner Amir is honest.
                                                        h4.from
                                                                | &dash; Eugenia Branchi
        .band.green
                .filter-green-dark
                img(src="./img/923623146-2048x2048.jpg").img-bg
                .wrapper
                        section
                                h4 tree 411
                                a tree article 1
                                a tree article 2
                                a tree article 3
                                a tree article 4
                        section
                                a.article-btn how to keep your trees healthy 
                                        <i class="fas fa-caret-right"></i>
                                a.article-btn tree warning signs
                                        <i class="fas fa-caret-right"></i>
                                a.article-btn what to do about pine beetles
                                        <i class="fas fa-caret-right"></i>
                        section
                                h4 price your job &amp;
                                a.rounded-btn schedule a quote
                                .green-divider-dotted
                                include social.pug
        //- //- section.wip WIP: Under construction ... so don't be a hater :p

        //- section.band.blue.band1
        //-     div.wrapper
        //-         p home content here
        //- section.band.white.band2
        //-     div.wrapper
        //-         a.read-more(href="/services/search-engine-optimization")
        //-             //- img.graphic.image(src="")                
        //-         div.message
        //-             //- p first cta here
        //-     div.wrapper
        //-         a.read-more(href="/services/digital-marketing-strategy")
        //-             //- img.graphic.image(src="../img/ctas/new_heights_117147764.jpg")
        //-         div.message
        //-             //- h2 Reach New Heights 
        //-             //-     span | Learn new strategies
        //-             //- p
        //-             //-     | The way we connect with customers has
        //-             //-     | fundamentally shifted over the last few years
        //-             //-     | and so have the strategies needed.
        //-             //- a.read-more.btn(href="/services/digital-marketing-strategy") Read More

        //- section#contact.band.blue.band3
        //-     div.wrapper
        //-         div.message
        //-             .next-step-ctas
        //-                 h4 You had me at hello
        //-                 p Now what's next?
        //-                 ul.next-steps
        //-                     li.btn: a(href="/insights/getting-started/"): h2 Get Started
        //-                     li.btn.contact: a(href="tel:4703583559"): h2 give us a call
        //-                     li.social-icons
        //-             .quick-contact
        //-                 h4 drop us a line
        //-                 p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
        //-                 form
        //-                     input(type="text", placeholder="first name", required)
        //-                     input(type="text", placeholder="last name")
        //-                     input(type="email", placeholder="email", required)
        //-                     input(type="phone", placeholder="phone", required)
        //-                     textarea(placeholder="Reason for writing", rows="7", required)
        //-                     input(type="submit")
