//- service_layout.pug
html
  head
    title Green Fern Tree Service | Spruce up your yard!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    block scripts

    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        //- <link rel="stylesheet" href="" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="">
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")

    body.page(class=active_page)
        .header-top
            .inner
                include social.pug
                .nav-ctas
                    a.phone(href="tel:770-881-1712") 
                        i.fas.fa-phone
                        | (770) 881-1712
                    a.quote(href="mailto:greenferntreeservice@gmail.com") 
                        i.fas.fa-envelope
                        | request a quote
        header.group
            .wrapper
                a(href="./").logo.scaleable
                    img(src="./img/logo.jpg", alt="Green Fern Tree Service")
                a.nav-toggle(href="#")
                    i.fa.fa-bars
                .nav-wrapper
                    include nav.pug 
            
        section.ctas
            .cta
                block main-cta
        .page.wrapper 
            section.content
                block page_content
            
            block bodyscripts
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
                script(src='/js/global.js')