ul.nav
    //- li.pricing: a(href="/pricing") Pricing
    li.services.dropdown
        a(href="/services") Services
        //- ul
        //-     li: a(href='/services/tree_removal') tree removal
        //-     li: a(href='/services/stump_grinding') stump grinding
        //-     li: a(href='/services/firewood') firewood
        //-     li: a(href='/services/hardscape') hard scape
    li.about: a(href="/about") About Us
    //- li: a(href='/insurance') insurance info
    //- li.tree-care: a(href="/news") Tree Care
    li.contact: a(href="/contact") Contact
