ul.nav
    li.about: a(href="/about") Pricing
    li.services.dropdown
        a(href="/services") Services
        ul
            li: a(href='/services/website-development') tree removal
            li: a(href='/services/application-development') stump grinding
            li: a(href='/services/search-engine-optimization') firewood
            li: a(href='/services/social-media-marketing') hard scape
    li.about: a(href="/about") About Us
    li: a(href='/services/digital-marketing-strategy') insurance info
    li.about: a(href="./news") Tree Care
    //- li.get_in_touch
    //-     a(href="tel:4703583559") Phone
