
extends interior_layout.pug

block main-cta
  img(src="./img/923623146-2048x2048.jpg")

block page_content
  h1 Services 
    span | No job too complex for our experts

  .block
    h4 Tree Removal

    p
      | Tree removal is a highly specialised area that requires a great deal of skill, training and expertise, there are a number of reasons why trees need to be removed.
      | Including:

    ul
      li Dead or dying
      li Diseased
      li Damaged
      li Hazardous
      li Damaging property or services

  .block
    h4 Stump Grinding

    p
      | Stump grinding is often the most economical and site friendly strategy for tree stump removal and is important for a number of different reasons including:


    ul
      li Becoming a hazard
      li Habitat for termite nests
      li Fungal pathogen hosts that may infect retained live trees
      li Look unsightly
      li Take up valuable garden space

  p
    | Green Fern Tree Service can remove any stump in any location with our broad range of stump grinding machines, we also use protective panelling and ground sheets to minimise site disturbance and protect surrounding assets.
    | Our team of experts are highly skilled and trained in the use of our equipment, enabling them to complete your stump grinding job in a safe, tidy and efficient manner.
