<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <a class="copyright">© Green fern Tree Service</a><div class="sitemap"><a href="./">Home</a><a>Pricing</a><a>Services</a><a>About</a><a>Insurance Info</a><a>Tree Care</a></div><a class="phone" href="tel:(770) 881-1712">(770) 881-1712</a>
</footer>