
<header class="group">
  <div class="wrapper">
    <a class="logo scaleable" href="./">
      <div class="icon">
        <i class="fab fa-pagelines"></i>
      </div>
      <h1>Greenfern<span class="tagline">tree service</span></h1>
    </a>
    <a class="nav-toggle" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <div class="nav-wrapper">
      <div class="nav-ctas">
        <a class="phone"> <i class="fas fa-phone"></i>(770) 881-1712</a>
        <a class="quote">request a quote</a>
      </div>
      
      <ul class="nav">
        <li class="about"><a href="/about">Pricing</a></li>
        <li class="services dropdown"><a href="/services">Services</a>
          <ul>
            <li><a href="/services/website-development">tree removal</a></li>
            <li><a href="/services/application-development">stump grinding</a></li>
            <li><a href="/services/search-engine-optimization">firewood</a></li>
            <li><a href="/services/social-media-marketing">hard scape</a></li>
          </ul></li>
          <li class="about"><a href="/about">About Us</a></li>
          <li><a href="/services/digital-marketing-strategy">insurance info</a></li>
          <!-- <li class="about"><a href="/about">Tree Care</a></li> -->
      </ul>
    </div>
  </div>
</header>