
@import './../globals/colors';
@import './../globals/mixins';



.home .ctas { 
    margin: 90px 0 50px 0;
    max-height: 700px;
    .cta{
        position: relative;
        .banner-content {
            $ad-padding: 10;
            $ad-radius: 5px;
            position: absolute;
            top: 25%;
            right: 8vw;
            z-index: 10;
            box-sizing: border-box;
            // padding: #{$ad-padding}px;
            // border: 5px solid $dark-primary;
            // border-radius: $ad-radius;
            .inner {
                display: flex;
                flex-direction: column;
                background: rgba(255, 255, 255, .85);
                width: auto;
                align-items: center;
                padding: 2vw 3vw;
                border-radius: 5px;
                border: 1px solid #fff;
                box-shadow: 0px 0px 5px hsla(0, 0%, 10%, 0.3);
                color: $dark-primary;
                h2 {
                    font-size: 24pt;
                    text-transform: uppercase;
                    // font-weight: bold;
                    margin: 0 0 15px 0;
                    span {
                        color: $secondary;
                        // font-weight: 700;
                    }
                }
                h4 {
                    font-size: 17pt;
                    margin: 0 0 15px;
                }
                p {
                    margin: 0 0 10px;
                    color: #333;
                }
                a.btn {
                    font-family: 'Fjalla One', sans-serif;
                    font-size: 14pt;
                    border-radius: 2px;
                    &.accent {
                        text-transform: capitalize;
                        background: $accent;
                        color: #fff;
                        // padding: #{$ad-padding}px #{$ad-padding*2}px;
                        margin-top: 10px;
                        padding: 10px 40px;
                    }
                }
                p {
                    text-align: center;
                    line-height: 1.4;
                }
            }
        }
        &.ad1 {
            img { 
                position: relative;
                width: 100%;
                z-index: 1;
                // opacity: .7;
            }
        }
    }
}
 
.home-content.container {
    margin: 0 auto 50px;
    .band {
        margin: 0;
        align-items: center;
    }
}

.home .band.green {
    min-height: 200px;
    display: block;
    padding: 20px 25px;
    & > h4, .wrapper .right, .wrapper .left {
        text-transform: capitalize;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        section {
            position: relative;
            display: flex;
            z-index: 15;
            text-transform: capitalize;
        }
        section:nth-child(1), section:last-child { flex-direction: column; }
        section:nth-child(1) {
            width: 29%;
            margin-right: 1%;
            background: $dark-primary;
            padding: 15px 10px;
            border: 1px solid darken($dark-primary, 10%);
            a {
                color: $tree-white;
                padding: 0 0 5px;
                margin: 5px 0;
                border-bottom: 1px dotted $tree-white;
                &:last-child { border: none; }
            }
            & > h4 {
                position: relative;
                color: #fff;
                font-weight: bold;
                font-size: 34pt;
                z-index: 15;
                margin: 0 0 15px;
            }
        }
        section:nth-child(2){
            position: relative;
            z-index: 15;
            width: 40%;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        section:last-child {
            margin: 0;
            background: rgba(255,255,255,.9);
            padding: 15px 10px;
            color: $dark-primary;
            h4 {
                text-align: center;
                font-size: 12pt;
                margin-bottom: 7px;
                // font-weight: bold;
            }
            .rounded-btn {
                margin-top: 0;
                font-size: 17pt;
                padding: 10px;
                @include r_gradient(darken($primary, 5%), $dark-primary);
            }
            .social {
                @include social_layout
            }
        }
    }
}

.gallery {
    width: 100%;
    img, .grid-sizer {
        float: left;
        max-width: 500px;
        width: 30%;
        margin: 0 10px 10px;
    }
}