
//Larger Phones
@media only screen 
and (max-width : 415px)
{  
  .page {
    header {
      .nav-toggle {
        visibility: visible;
        color: $primary;
        font-size: 24pt;
        position: absolute;
        right: 10px;
        top: 40px;
      }
      .wrapper {
        .nav-wrapper {
          margin-top: 20px;
          .nav-ctas { display: none; }
          .nav {
            flex-direction: column;
            align-items: center;
            display: none;
            text-align: center;
            & > li {
              margin: 0 0 10px;
            }
          }
        }
      }
    }
  }
  .page.home .band .right .testimonials .testimonial {
    width: 95%;
  }

  .page.home .band.green { padding: 20px 2%; }
  body.page.home .band.green .wrapper section, .home .band.green .wrapper section:nth-child(1), .home .band.green .wrapper section:nth-child(2), .home .band.green .wrapper section:nth-child(3) {
    width: 100%;
  }
}