
//Larger Phones
@media only screen and (max-width : 450px) {
  .home .ctas .cta .banner-content {
    left: 5%;
    margin: 0 auto;
    width: 90%;
  }  
  .page, .page.home {
    header {
      box-shadow: 0px 0px 1px #000;
      .nav-toggle {
        display: none;
        visibility: visible;
        color: $primary;
        font-size: 24pt;
        position: absolute;
        right: 10px;
        top: 40px;
      }
      .wrapper {
        .nav-wrapper {
          margin-top: 20px;
          .nav-ctas { display: none; }
          .nav {
            flex-direction: column;
            align-items: center;
            display: none;
            text-align: center;
            & > li {
              margin: 0 0 10px;
            }
          }
        }
      }
    }

    .ctas {
      margin-top: 115px;
      min-height: 300px;
      margin-bottom: 30px;
      .cta {
        img {
          width: 200%;
        }
        .banner-content {
          .inner {
            h2, p {
              display: none;
            }
            h4 {
              text-align: center;
              font-size: 14pt;
            }
          }
        }
      }
    }

    .home-content.container {
      margin-bottom: 30px;
    }
  }
  .page.home .band .right .testimonials .testimonial {
    width: 95%;
  }

  .page.home .band.green { padding: 20px 2%; }
  body.page.home .band.green .wrapper section, .home .band.green .wrapper section:nth-child(1), .home .band.green .wrapper section:nth-child(2), .home .band.green .wrapper section:nth-child(3) {
    width: 100%;
  }

  .page.home {
    & > header {
      max-width: 400px;
    }
    .header-top {
      .inner {
        justify-content: center;
        .social {
          display: none;
        }
      }
    }
    .band {
      .left {
        & > a {
          width: 98%;
        }
      }
    }
  }

  footer {
    max-width: 400px;
  }
}