 /*
      iPad 3 & 4 Media Queries
      If you're looking to target only 3rd and 4th generation Retina iPads 
      (or tablets with similar resolution) to add @2x graphics,
      or other features for the tablet's Retina display, use the following media queries.
    */

    /* Retina iPad in portrait & landscape */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 2) {
      body {
        background: red;
      }
    }

    /* Retina iPad in landscape */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
      
    }

    /* Retina iPad in portrait */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      
    }

    /*
      iPad 1 & 2 Media Queries
      If you're looking to supply different graphics or choose different typography 
      for the lower resolution iPad display, the media queries below will work 
      like a charm in your responsive design!
    */

    /* iPad 1 & 2 in portrait & landscape */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
     body {
       background: blue;
     } 
    }

    /* iPad 1 & 2 in landscape */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
      
    }

    /* iPad 1 & 2 in portrait */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
      
    }

    /* iPad mini in portrait & landscape */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
      
    }

/* Generic Tablet Query */
@media only screen 
and (max-width : 715px)
{
  .home {
    .band {
      flex-direction: column;
      .left, .right {
        width: 100%;
      }
      .left {
        align-items: center;
        display: flex;
        flex-direction: column;
       & > a {
          width: 50%;
          justify-content: center;
          min-height: 75px;
        }
      }
      .right {
        .testimonials {
          flex-direction: column;
          align-items: center;
          .testimonial {
            width: 60%;
            margin: 0 0 10px;
            .from {
              text-align: center;
            }
          }
        }
      }
    }
    .band.green .wrapper {
      flex-direction: column;
      align-items: center;
      section, section:nth-child(1), section:nth-child(2), section:nth-child(3) {
        margin: 0 0 10px;
        width: 80%;
      }
      section:last-child {
        .rounded-btn { text-align: center; }
        .social {
          justify-content: center;
        }
      }
    }
    .ctas { margin-top: 135px; }
    .container {
      margin: 0 0 100px;
    }
  }

  //Globals
  header {
    .wrapper {
      flex-direction: column;
      .nav-wrapper {
        margin-top: 0;
        .nav-ctas { 
          margin: 0 0 10px;
          align-items: center; 
          justify-content: center;
        }
      }
    }
  }

  #footer {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    a, .sitemap {
      margin-bottom: 10px;
    }
    a:last-child { margin-bottom: 0; }
  }
}