@mixin l_gradient($top, $bottom) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$top+0,1e5799+100 */
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%,$bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

@mixin h_gradient($left, $right){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$left+0,1e5799+100 */
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left, $left 0%, $right 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $left 0%,$right 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $left 0%,$right 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 ); /* IE6-9 */
}

@mixin r_gradient($inner, $outer){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$inner+0,1e5799+100 */
    background: $inner; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, $inner 0%, $outer 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $inner 0%,$outer 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, $inner 0%,$outer 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$inner', endColorstr='$outer',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin rounded-btn($bg-color, $text-color) {
    display: block;
    margin: 10px 0;
    color: $text-color;
    font-weight: bold;
    background: $bg-color;
    border: 1px solid darken($bg-color, 10%);
    border-radius: 4px;
    padding: 7px 10px;
 }

 @mixin social_layout {
    display: flex;
    align-items: center;
    a {
        font-size: 22pt;
        box-sizing: border-box;
        margin: 0 4px 0 0;
        padding: 4px;
        border-radius: 4px;
        &:nth-child(1) {
            background: $dark-primary;
            color: #fff;
        }
        &:nth-child(2), &:nth-child(3) {
            background: $dark-primary;
            color: #fff;
        }
    }
 }